[
    {'GRiSP_wifi_updater_test', [
        % Change to green (and bump the version) to build the update package
        {led_color, green}
    ]},

    % Update the A/B system partitions on the eMMC, fetching packages over HTTP
    {grisp_updater, [
        {system, {grisp_updater_grisp2, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_grisp2, #{}}
            }}
        ]}
    ]},

    {grisp_cryptoauth, [
        {tls_use_client_certificate, false},
        {tls_verify, verify_none}
    ]}
].
